.players-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    margin: 0 auto;
}

.players-view__players-container {
    flex: 1;
    overflow: auto;
}

.players-view__player-box {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00274d;
    padding: 0.7rem 1em;
    gap: 2rem;
}

.players-view__name-container {
    flex: 1;
    text-align: left;
}

.players-view__name-display,
.players-view__balance-display {
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px dashed gray;
}

.players-view__name-display:hover,
.players-view__balance-display:hover {
    color: #007bff;
}

.players-view__name-input,
.players-view__balance-input {
    font-size: 16px;
    padding: 5px;
    width: 100px;
    text-align: center;
}

.players-view__button {
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.players-view__button--remove {
    background-color: #ff4d4d;
}

.players-view__button--add {
    background-color: #4caf50;
    margin: 30px 0;
}

.players-view__add-section {
    text-align: center;
}