.scoreboard-mini {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    background-color: #00274D;
    font-size: .8em;
}

.scoreboard-mini__player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.scoreboard-mini__balance {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.scoreboard-mini__balance input {
    border: none;
    outline: none;
    width: 100px;
    background-color: #071c33;
    color: white;
}

.scoreboard-mini__balance input:focus {
    background-color: #05172a;
}

.scoreboard-mini__balance button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: none;
}

.scoreboard-mini__button--add-money {
    background-color: #4CAF50;
}

.scoreboard-mini__button--subtract-money {
    background-color: crimson;
}