.scoreboard-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #222;
    color: white;
    z-index: 1;

    background-image: url('../../assets/va-banque-bg@10x.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

.scoreboard-view__player {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.scoreboard-view__balance {
    font-size: 1.5em;
}