body {
    background-color: #05172a;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'ITC Korinna', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 3vmin;
    text-shadow: #05172a .1em .1em 0;
    letter-spacing: 3px;
}

.dummy-view {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background-image: url('assets/main-view.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

.audio {
    display: none;
}

button {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: 'ITC Korinna', sans-serif;
    text-transform: uppercase;
    text-shadow: #05172a .07em .07em 0;
}

.round-button {
    color: #00274D;
    background-color: white;
    opacity: .19;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    text-shadow: none;
    z-index: 999;
}

.round-button:hover {
    cursor: pointer;
    opacity: .7;
}