.round-view-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  padding: 0 5px;
  box-sizing: border-box;
}

.next-round-button {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.jingiel-audio-button {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

.category-container {
  width: 100%;
  height: 16%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  box-sizing: border-box;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 5px;
  box-sizing: border-box;

  background-image: url('../../assets/va-banque-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.price-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.price-cat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.price-box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;

  background-image: url('../../assets/va-banque-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: 'Swiss 911', serif;
  color: #dcd21b;
  text-shadow: #05172a 4px 4px 0;
  font-size: 8vmin;
  resize: both;
}

.price-box.used {
  color: transparent;
  text-shadow: none;
}

.price-box:hover {
  cursor: pointer;
}

.question-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  background-image: url('../../assets/va-banque-bg@10x.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backface-visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 8vmin;
}

.question-container.bonus {
  background-image: url('../../assets/bonus-bg.jpg');
  font-size: 30vmin;
  backface-visibility: visible;
}

.close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
}